.thumb{
    height: 100px;
    width: auto;
    background-color: #FF6060;
    border-radius: 5px;
    position:relative;
    width: 30%;
    h2{
    font-size: 18px;
    color:white;
    font-family: "Montserrat",sans-serif;
    font-weight: 700;
    line-height: 68.45px;
    text-align: left;
    color: #FFFFFF;
    position: relative;
    z-index: 3;
    }
    img{
        overflow: hidden;
        opacity: 0.5;
        position: absolute;
        z-index: 2;
        border-radius: 10px;
        object-fit: cover;
    }
}
