.ficheLogement {
    font-family: "Montserrat",sans-serif;
    margin: 0;
    margin-bottom: 1%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
        .carroussel{
            width: 90%;
            height: 223px;
            border-radius: 18px;
            margin-bottom: 1%;
              
        }    
}