.fiche-Logement {
    font-family: "Montserrat",sans-serif;
    margin: 0;
    margin-bottom: 1%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
        .carroussel{
            width: 90%;
            height: 223px;
            border-radius: 18px;
            margin-bottom: 1%;
              
        }
        .descriptionPart{
        display: flex;
        flex-direction: column;
        width: 100%;
        h1 {
            color : #FF6060;

        }
        .hostInformation {

        color : #FF6060;
        }
        .hostPicture{
        background-color: #C4C4C4;
        width: 64px;
        height: 64px;
        border-radius: 30px;
        }
        }    
}

